
header {
  border-bottom: 7px double #007ACC;
  font-size: 25px;

}

body {
 background-color: #FFFFFF;
 color: #000000;
 font-size: 15px;
 font-family: "Times New Roman";
}

div.mainPoints {
    border-bottom: 2px solid #007ACC;
    font-size: 20px;
  }

  div.skills{
    /*color: white; 
    background-color: #007ACC; 
    padding: 1%; 
    border: 2px solid rgb(0, 0, 0); 
    width: 10% ;
    height:10%;
    text-align: center;
    
    float: inline-start;*/
    display: inline-block;
    margin: 1%;
    color: #FFFFFF; 
    background-color: #007ACC; 
    padding: 1%; 
    border: 2px solid #000000; 
    width: 60px ;
    height:20px;
    text-align: center;
  }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#007ACC;
    color:  #FFFFFF;
    text-align: center;
  }
